/*Header basic*/
header {
  position: relative;
}

.main-nav {
  vertical-align: middle;
  float: left;
  background-color: transparent;
  margin-top: 0;
}

.header-content-left {
  position: relative;
  float: left;
  padding-left: 0;
  padding-top: 9px;
}


.header-style-1 .info-wrap {
  position: relative;
  display: inline-block;
  margin-right: 7px;
}

.header-content-center {
  text-align: center;
  margin: auto;
}

.header-content-right {
  position: relative;
  padding-top: 10px;
  text-align: right;
  margin: 0 0 0 auto;
}

/*-----------------------------------------------------------------------------------*/
/*  2a.  HEADER-STYLE-1
/*-----------------------------------------------------------------------------------*/

.header-style-1 {
  background-color: transparent;
  z-index: 101;
  position: absolute;
  right: 0;
  left: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header-style-1.header-alt {
  position: relative;
}

.header-expanded {
  position: relative;
  left: 0;
  right: 0;
  background-color: #0b0b0b;
  top: 0;
  -webkit-transition: revert;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header-expanded .main-nav {
  width: 90%;
  margin: auto;
  float: none;
  border-radius: 0;
  background: #000000;
}

.header-style-1 ul.sm-clean > li + li {
  margin-left: 30px;
}

.header-style-1 ul.sm-clean > li {
  padding-top: 10px;
  padding-bottom: 0px;
  position: relative;
}

.header-style-1 .menu-link:hover {
  color: #eaeaea;
}

.header-style-1 a.menu-link:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ff2c55;
  -webkit-transform: scale3d(0, 5, 1);
  transform: scale3d(0, 5, 1);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
  transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
}

.header-style-1 a.menu-link.active:before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.header-style-1 .menu-item:hover .menu-link:before {
  background-color: #ff2c55;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.header-style-1 a.menu-link {
  font-family: 'Montserrat';
  text-align: inherit;
  word-spacing: 0px;
  font-size: 16px;
  letter-spacing: 0px;
  position: relative;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
}

.header-style-1 .search::before,
.header-style-1 .search::after {
  border-color: #ff2c55;
}

.header-style-1 .search__input {
  color: #ffffff;
}

.header-style-1 .search__input {
  font-family: inherit;
  font-size: 10vw;
  line-height: 1;
  display: inline-block;
  box-sizing: border-box;
  width: 75%;
  padding: 0;
  color: #ffffff;
  outline: none;
  border: none;
  border-bottom: 1px solid;
  height: 190px;
  background-color: transparent;
}

.header-style-1 .search {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.header-style-1 .search__info {
  color: #ff2c55;
}

.header-style-1 .search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.95);
}

/*-----------------------------------------------------------------------------------*/
/*  2b.  HEADER INFO
/*-----------------------------------------------------------------------------------*/
.head-item {
  margin-right: 20px;
}

.head-item:last-child {
  margin-right: 0;
}

.info-wrap {
  position: relative;
  display: inline-block;
  margin-right: 15px;
}

.info-wrap:last-child {
  margin-right: 0;
}


.head-info-icon {
  margin-right: 5px;
}


#header .info-wrap {
  padding: 5px 0;
}

#header .info-wrap i {
  vertical-align: middle;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
}

#header .header-info-url a {
  color: #ffffff;
  padding: 10px 30px;
}

.logo {
  display: flex;
  float: left;
  margin-left: 10px;
  margin-right: 28px;
}

.header-style-1-wrap .main-menu ul.sm-clean > li + li {
  margin-left: 30px;
}

.header-style-1 .btn--search-close i {
  color: #ffffff;
  cursor: pointer;
}

.header-style-1 .search__input::placeholder {
  color: #fff;
}

/*-----------------------------------------------------------------------------------*/
/*  2c.  HEADER ALT
/*-----------------------------------------------------------------------------------*/
.header-alt .head-info-icon,
.header-alt.head-info-text {
  display: inline-block;
  color: #ffffff;
}

.header-alt .menu-item:hover .menu-link:before {
  background-color: #ff2c55;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.header-alt a.menu-link:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ff2c55;
  -webkit-transform: scale3d(0, 5, 1);
  transform: scale3d(0, 5, 1);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
  transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
}

.header-alt a.menu-link {
  color: #ffffff;
}

.header-alt.header-expanded a.menu-link {
  color: #fff;
}

.header-alt .head-info-icon,
.header-alt .head-info-text {
  display: inline-block;
  color: #000000;
}

.header-style-1.header-expanded {
  background-color: #000000;
}

.header-alt.header-expanded {
  background-color: #0b0b0b;
}

.header-alt.header-expanded .main-nav {
  background-color: #0b0b0b;
}

.header-clear {
  display: flex;
  align-items: center;
}


/*sm-clean.css*/
.sm-clean a.current {
  color: #d23600;
}

.sm-clean a.disabled {
  color: #bbbbbb;
}

.sm-clean a span.sub-arrow {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: auto;
  right: 4px;
  width: 34px;
  height: 34px;
  overflow: hidden;
  font: bold 16px/34px monospace !important;
  text-align: center;
  text-shadow: none;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.sm-clean a.highlighted span.sub-arrow:before {
  display: block;
  content: '-';
}

.sm-clean > li:first-child > a, .sm-clean > li:first-child > :not(ul) a {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.sm-clean > li:last-child > a, .sm-clean > li:last-child > *:not(ul) a, .sm-clean > li:last-child > ul,
.sm-clean > li:last-child > ul > li:last-child > a, .sm-clean > li:last-child > ul > li:last-child > *:not(ul) a, .sm-clean > li:last-child > ul > li:last-child > ul,
.sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul,
.sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul,
.sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.sm-clean > li:last-child > a.highlighted, .sm-clean > li:last-child > *:not(ul) a.highlighted,
.sm-clean > li:last-child > ul > li:last-child > a.highlighted, .sm-clean > li:last-child > ul > li:last-child > *:not(ul) a.highlighted,
.sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted,
.sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted,
.sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

.sm-clean li {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.sm-clean > li:first-child {
  border-top: 0;
}

.sm-clean ul {
  background: rgba(162, 162, 162, 0.1);
}

.sm-clean ul a, .sm-clean ul a:hover, .sm-clean ul a:focus, .sm-clean ul a:active {
  font-size: 16px;
  border-left: 8px solid transparent;
}

.sm-clean ul ul a,
.sm-clean ul ul a:hover,
.sm-clean ul ul a:focus,
.sm-clean ul ul a:active {
  border-left: 16px solid transparent;
}

.sm-clean ul ul ul a,
.sm-clean ul ul ul a:hover,
.sm-clean ul ul ul a:focus,
.sm-clean ul ul ul a:active {
  border-left: 24px solid transparent;
}

.sm-clean ul ul ul ul a,
.sm-clean ul ul ul ul a:hover,
.sm-clean ul ul ul ul a:focus,
.sm-clean ul ul ul ul a:active {
  border-left: 32px solid transparent;
}

.sm-clean ul ul ul ul ul a,
.sm-clean ul ul ul ul ul a:hover,
.sm-clean ul ul ul ul ul a:focus,
.sm-clean ul ul ul ul ul a:active {
  border-left: 40px solid transparent;
}

@media (min-width: 769px) {
  /* Switch to desktop layout
  -----------------------------------------------
     These transform the menu tree from
     collapsible to desktop (navbar + dropdowns)
  -----------------------------------------------*/
  /* start... (it's not recommended editing these rules) */
  .sm-clean ul {
    position: absolute;
    width: 12em;
  }

  .sm-clean li {
    float: left;
  }

  .sm-clean.sm-rtl li {
    float: right;
  }

  .sm-clean ul li, .sm-clean.sm-rtl ul li, .sm-clean.sm-vertical li {
    float: none;
  }

  .sm-clean a {
    white-space: nowrap;
  }

  .sm-clean ul a, .sm-clean.sm-vertical a {
    white-space: normal;
  }

  .sm-clean .sm-nowrap > li > a, .sm-clean .sm-nowrap > li > :not(ul) a {
    white-space: nowrap;
  }

  /* ...end */
  .sm-clean a:hover, .sm-clean a:focus, .sm-clean a:active, .sm-clean a.highlighted {
    color: #d23600;
  }

  .sm-clean a.current {
    color: #d23600;
  }

  .sm-clean a.disabled {
    color: #bbbbbb;
  }

  .sm-clean a.has-submenu {
    padding-right: 24px;
  }

  .sm-clean a span.sub-arrow {
    top: 50%;
    margin-top: -2px;
    right: 7px;
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: solid dashed dashed dashed;
    border-color: #555555 transparent transparent transparent;
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }

  .sm-clean a.highlighted span.sub-arrow:before {
    display: none;
  }

  .sm-clean li {
    border-top: 0;
  }

  .sm-clean > li > ul:before,
  .sm-clean > li > ul:after {
    content: '';
    position: absolute;
    top: -18px;
    left: 30px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 9px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #bbbbbb transparent;
  }

  .sm-clean > li > ul:after {
    top: -16px;
    left: 31px;
    border-width: 8px;
    border-color: transparent transparent white transparent;
  }

  .sm-clean ul {
    border: 1px solid #bbbbbb;
    padding: 5px 0;
    background: white;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    border-radius: 5px !important;
    -webkit-box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
  }

  .sm-clean ul a, .sm-clean ul a:hover, .sm-clean ul a:focus, .sm-clean ul a:active, .sm-clean ul a.highlighted {
    border: 0 !important;
    padding: 10px 20px;
    color: #555555;
  }

  .sm-clean ul a:hover, .sm-clean ul a:focus, .sm-clean ul a:active, .sm-clean ul a.highlighted {
    background: transparent;
    color: #d23600;
  }

  .sm-clean ul a.current {
    color: #d23600;
  }

  .sm-clean ul a.disabled {
    background: white;
    color: #cccccc;
  }

  .sm-clean ul a.has-submenu {
    padding-right: 20px;
  }

  .sm-clean ul a span.sub-arrow {
    right: 8px;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #555555;
  }

  .sm-clean span.scroll-up,
  .sm-clean span.scroll-down {
    position: absolute;
    display: none;
    visibility: hidden;
    overflow: hidden;
    background: white;
    height: 20px;
  }

  .sm-clean span.scroll-up:hover,
  .sm-clean span.scroll-down:hover {
    background: #eeeeee;
  }

  .sm-clean span.scroll-up:hover span.scroll-up-arrow, .sm-clean span.scroll-up:hover span.scroll-down-arrow {
    border-color: transparent transparent #d23600 transparent;
  }

  .sm-clean span.scroll-down:hover span.scroll-down-arrow {
    border-color: #d23600 transparent transparent transparent;
  }

  .sm-clean span.scroll-up-arrow, .sm-clean span.scroll-down-arrow {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 6px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #555555 transparent;
  }

  .sm-clean span.scroll-down-arrow {
    top: 8px;
    border-style: solid dashed dashed dashed;
    border-color: #555555 transparent transparent transparent;
  }

  .sm-clean.sm-rtl a.has-submenu {
    padding-right: 12px;
    padding-left: 24px;
  }

  .sm-clean.sm-rtl a span.sub-arrow {
    right: auto;
    left: 12px;
  }

  .sm-clean.sm-rtl.sm-vertical a.has-submenu {
    padding: 10px 20px;
  }

  .sm-clean.sm-rtl.sm-vertical a span.sub-arrow {
    right: auto;
    left: 8px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #555555 transparent transparent;
  }

  .sm-clean.sm-rtl > li > ul:before {
    left: auto;
    right: 30px;
  }

  .sm-clean.sm-rtl > li > ul:after {
    left: auto;
    right: 31px;
  }

  .sm-clean.sm-rtl ul a.has-submenu {
    padding: 10px 20px !important;
  }

  .sm-clean.sm-rtl ul a span.sub-arrow {
    right: auto;
    left: 8px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #555555 transparent transparent;
  }

  .sm-clean.sm-vertical {
    padding: 10px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }

  .sm-clean.sm-vertical a {
    padding: 10px 20px;
  }

  .sm-clean.sm-vertical a:hover, .sm-clean.sm-vertical a:focus, .sm-clean.sm-vertical a:active, .sm-clean.sm-vertical a.highlighted {
    background: transparent;
  }

  .sm-clean.sm-vertical a.disabled {
    background: #eeeeee;
  }

  .sm-clean.sm-vertical a span.sub-arrow {
    right: 8px;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #555555;
  }

  .sm-clean.sm-vertical > li > ul:before,
  .sm-clean.sm-vertical > li > ul:after {
    display: none;
  }

  .sm-clean.sm-vertical ul a {
    padding: 10px 20px;
  }

  .sm-clean.sm-vertical ul a:hover, .sm-clean.sm-vertical ul a:focus, .sm-clean.sm-vertical ul a:active, .sm-clean.sm-vertical ul a.highlighted {
    background: #eeeeee;
  }

  .sm-clean.sm-vertical ul a.disabled {
    background: white;
  }
}

/*sm-core.css*/
/* Mobile first layout SmartMenus Core CSS (it's not recommended editing these rules)
   You need this once per page no matter how many menu trees or different themes you use.
-------------------------------------------------------------------------------------------*/

.sm, .sm ul, .sm li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: normal;
  direction: ltr;
  text-align: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.sm-rtl, .sm-rtl ul, .sm-rtl li {
  direction: rtl;
  text-align: right;
}

.sm > li > h1, .sm > li > h2, .sm > li > h3, .sm > li > h4, .sm > li > h5, .sm > li > h6 {
  margin: 0;
  padding: 0;
}

.sm ul {
  display: none;
}

.sm li, .sm a {
  position: relative;
}

.sm a {
  display: block;
}

.sm a.disabled {
  cursor: not-allowed;
}

.sm:after {
  content: "\00a0";
  display: block;
  height: 0;
  font: 0px/0 serif;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

.sm, .sm *, .sm *:before, .sm *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* @media */

.main-nav {
  background: #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .main-nav {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
  }
}


.main-nav:after {
  clear: both;
  content: "\00a0";
  display: block;
  height: 0;
  font: 0px/0 serif;
  overflow: hidden;
}

.nav-brand {
  float: left;
  margin: 0;
}

.nav-brand a {
  display: block;
  padding: 12px 12px 12px 20px;
  color: #555;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: normal;
  line-height: 17px;
  text-decoration: none;
}

#main-menu {
  clear: both;
}

@media (min-width: 768px) {
  #main-menu {
    float: right;
    clear: none;
  }
}

/* Mobile menu toggle button */

.main-menu-btn {
  float: right;
  margin: 6px 10px;
  position: relative;
  display: inline-block;
  width: 29px;
  height: 29px;
  text-indent: 29px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* hamburger icon */

.main-menu-btn-icon,
.main-menu-btn-icon:before,
.main-menu-btn-icon:after {
  position: absolute;
  top: 50%;
  left: 2px;
  height: 2px;
  width: 24px;
  background: #555;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.main-menu-btn-icon:before {
  content: '';
  top: -7px;
  left: 0;
}

.main-menu-btn-icon:after {
  content: '';
  top: 7px;
  left: 0;
}

/* x icon */

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
  height: 0;
  background: transparent;
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* hide menu state checkbox (keep it visible to screen readers) */

#main-menu-state {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}


/* hide the menu in mobile view */

#main-menu-state:not(:checked) ~ #main-menu {
  display: none;
}

#main-menu-state:checked ~ #main-menu {
  display: block;
}

@media (min-width: 769px) {
  /* hide the button in desktop view */
  .main-menu-btn {
    position: absolute;
    top: -99999px;
  }

  /* always show the menu in desktop view */
  #main-menu-state:not(:checked) ~ #main-menu {
    display: block;
  }
}

